.formulario{
  text-align: center;
  margin: 10px;
  background-color: #FFF6C8;
  padding: 30px;  
}
body{
  background-color: #FFFCEC;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formulario p{
  font-size: 30px;
  margin-top: 0px;
}

.error{
  margin: 10px;
}

.busqueda{
  margin:15px 0px 25px 0px;
  font-size: 20px;
  font-weight: bold;
}

.botonGroup{
  text-align: center;
  margin-top: 1rem;
}
