.formulario{
  text-align: center;
  
}
body{
  background-color: #DBD7C8;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formulario p{
  font-size: 30px;
}
